body {
  background-color: #4a85f9;
}
@keyframes slidein {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
.containerFirstpage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .block {
    h1 {
      color: rgb(255, 255, 255);
      font-size: 80px;
      font-weight: 300;
      letter-spacing: 0.1em;
    }
    .downlaoding {
      width: 470px;
      height: 30px;
      border-radius: 10px;
      background-color: whitesmoke;
      border: 2px solid rgb(0, 0, 0);
      overflow: hidden;
      .inside {
        width: 200%;
        height: 100%;
        color: rgb(255, 0, 0);
        background-color: #4a85f9;
        border-right: 2px solid black;
        animation-name: slidein;
        animation-duration: 6s;
        animation-delay: 0s;
        transition: ease;
      }
    }
  }
}
