$PrimaryColor: #4a85f9;
$SecondayColor: #e8e8e8;
@function pointFlew($top, $val) {
  @return ($top + $val);
}
@keyframes pointAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@mixin point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $PrimaryColor;
  position: absolute;
  animation-name: pointAnimation;
  animation-duration: 5s;
  animation-delay: 0s;
}
@mixin inputStyle {
  width: 1200px;
  height: 90px;
  border: none;
  border-radius: 15px;
  margin-top: 0px;
  margin-bottom: 7px;
  background-color: #e8e8e8;
  font-size: 25px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  color: #666666;
  padding-left: 10px;
  &::placeholder {
    color: #b6b6b6;
  }
  &:focus {
    border: none;
    outline: none;
    border-bottom: 5px solid $PrimaryColor;
  }
}
